* {
    font-family: 'VT323';
    color: darkslategray;
}

#root {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgb(175, 161, 161);
    border-style: dashed;
    border-radius: 0px 10px 0px 10px;
    background: rgb(251, 251, 251);
    background: radial-gradient(circle, rgba(251, 251, 251, 1) 0%, rgba(253, 255, 197, 1) 78%);
}